{% extends "base.html" %}

{% block title %}
VisionLog Dashboard
{% endblock %}

{% block content %}

<h1>VisionLog Analytics</h1>
<p class="subtitle">Visteon Vision Monitoring System</p>

<form method="POST" style="margin-bottom: 25px;">
    <button
        type="submit"
        name="refresh"
        value="1"
        class="refresh-button">
        🔄 {{ t("refresh") }}
    </button>
</form>

{% if alarm_active %}
<div class="alarm">
    <div>
        <strong>🚨 {{ t("alarm") }}</strong>
        <p>{{ new_rejections }} / {{ alarm_limit }}</p>
    </div>

    <form method="POST">
        <button type="submit" name="acknowledge" value="1">
            {{ t("acknowledge") }}
        </button>
    </form>
</div>
{% else %}
<div class="normal">
    🟢 {{ t("system_normal") }} — {{ new_rejections }} / {{ alarm_limit }}
</div>
{% endif %}

<div class="cards">

    <div class="card">
        <h3>{{ t("total_rejections") }}</h3>
        <p>{{ data.total_rejections }}</p>
    </div>

    <div class="card">
    <h3>{{ t("today_rejections") }}</h3>
    <p>{{ today_rejections }}</p>
    </div>

    <div class="card">
        <h3>{{ t("main_defect") }}</h3>
        <p>{{ data.main_defect }}</p>
    </div>

    <div class="card">
        <h3>{{ t("critical_camera") }}</h3>
        <p>{{ data.critical_camera }}</p>
    </div>

</div>

<h2>{{ t("verify_log") }}</h2>

<form method="POST" enctype="multipart/form-data" class="verify-box">
    <input type="file" name="log_file" accept=".txt" required>

    <button type="submit" name="validate_log" value="1">
        {{ t("validate") }}
    </button>
</form>

{% if validation %}
<div class="validation-box">
    <h3>{{ validation.message }}</h3>

    {% if validation.valid %}
        <p>{{ t("camera") }}: {{ validation.parsed.camera }}</p>
        <p>{{ t("status") }}: {{ validation.parsed.status }}</p>
        <p>{{ t("defect") }}: {{ validation.parsed.defect }}</p>
        <p>Time: {{ validation.parsed.time }}</p>
    {% endif %}

    <pre>{{ validation.content }}</pre>
</div>
{% endif %}

<h2>{{ t("recent_logs") }}</h2>

{% if data.recent_logs %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>{{ t("camera") }}</th>
            <th>{{ t("status") }}</th>
            <th>{{ t("defect") }}</th>
            <th>Time</th>
            <th>{{ t("file") }}</th>
        </tr>
    </thead>

    <tbody>
        {% for log in data.recent_logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.camera }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.defect }}</td>
            <td>{{ log.time }}</td>
            <td>{{ log.filename }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="empty-state">
    <h3>{{ t("no_recent_logs") }}</h3>
    <p>{{ t("place_logs") }}</p>
</div>
{% endif %}

{% endblock %}
